{% block title %}<title>LanchBox</title>{% endblock %}
{% block style%}
    {% load static %}
    <link href="{% static 'css/style_lunch.css' %}" rel="stylesheet" >
{% endblock %}
{% block body %}
    <div class="entry">
        {% load static %}
		<h1>Добавление ланчбокса</h1>
		<form method="post" action="." enctype="multipart/form-data">
			{% csrf_token %}
		    <table>
		        <tr>
		            <td><p>НАЗВАНИЕ</p><input type="text" name="title" autofocus id="id_title" required></td>
		        </tr>
		        <tr>
		            <td><p>ФОТО</p><input type="file" name="img" accept="image/*" required id="id_img"></td>
		        </tr>
				<tr>
					<td><p>ОПИСАНИЕ</p><textarea rows="3" type="text" name="description" autofocus id="id_description" required></textarea></td>
		        </tr>
		        <tr>
		            <td><p>ЦЕНА</p><input type="number" name="price" id="id_price" required></td>
		        </tr>
				<tr>
		            <td><p>ТИП</p><input type="text" name="addition" autofocus id="id_addition"></td>
		        </tr>
		        <tr>
		            <td><input type="submit" value="ДОБАВИТЬ"></td>
		        </tr>
		    </table>
		</form>
	</div>
{% endblock %}