@font-face {
	font-family: "logo";
	src: url("../fonts/logo.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #fdf5f9;
}

main{
    height: 100%;
	width: 100%;
}

.order{
    margin-top: 100px;
    width: 30%;
    margin-left: 30%;
    padding:5%;
    padding-top: 40px;
    padding-bottom: 40px;
    border:10px solid #615d5d;
    border-radius:50px;
}

.order h3, p{
	text-align: center;
	color: #615d5d;
	font-family: "logo"
}

.order h3{
    margin-top: 10px;
    padding-bottom:0;
	font-size: 45px;
}

.order p{
	font-size: 25px;
}

.readyForm{
    display: inline-block;
    width: 70%;
    margin-left: 15%;
	margin-top: 10px;
}

.ready-bn{
    width: 100%;
	border-radius: 10px;

	border:0;
	color: white;
	padding-bottom: 10px;
	padding-top: 10px;
	font-family: "logo";
	font-size: 20px;
	background-color: #69ff89;
}

.back{
    margin-top: 40px;
    width: 90%;
    margin-left:5%;

}

.back .ready-bn{
    background-color: #fa5c5c;
}



@media screen and (max-width: 1024px) {
	.logotip h1{
		font-size: 60px;
	}
}

@media screen and (max-width: 768px) {
	.logotip h1{
		font-size: 55px;
	}

	.ready-bn, .delete-bn{
		font-size: 7px;
	}
}