@font-face {
	font-family: "logo";
	src: url("../fonts/logo.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #fdf5f9;
}

header{
	width: 100%;
	height: 100%;
	padding-bottom: 5px;
	border-bottom: 5px solid #4e5964;
	margin-bottom: 0;
}
.search{
    margin-top: 20px;
    vertical-align:top;
    width: 25%;
    display: inline-block;
}
.logotip{
	display: inline-block;
	width: 50%;
}

.logotip h1{
	width: 100%;
	font-family: "logo";
	font-size: 70px;
	color: #4e5964;
	text-align: center;
	vertical-align: center;
}

.employee{

	width: 20%;
	display: inline-block;
	margin-left: -4px;
	border: 3px solid #4e5964;
	vertical-align: top;
	border-radius: 25px;
	margin-top: 20px;
}

.employee p{
	text-align: center;
	font-family: "logo";
	margin-top: 20px;
	margin-bottom: 0;
	color: #4e5964;
}

.employee button{
	width: 50%;
	margin-left: 25%;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #4e5964;
	border-radius: 10px;
	border:0;
	color: white;
	font-family: "logo";
}

.employee a{
    text-decoration:none;
    color: white;
	font-family: "logo";
}

main{
	height: 100%;
	margin-top: 10px;
	width: 100%;
}

main .prepare{
	vertical-align: top;
	min-height: 600px;
	width: 96%;
	margin: 2%;
	height: 100%;
	padding-bottom: 10px;
	padding-top: 10px;
	display: inline-block;
	background-color: #524F64;
	border-radius: 25px;
}

.order{
    border: 5px solid #4e5964;
    vertical-align: top;
    margin-top:40px;
	margin-bottom: 0px;
	display: inline-block;
	width: 10%;
	margin-left: 4%;
	border-radius: 25px;
	
}

.order h3, p{
	text-align: center;	
	color: #4e5964;
	font-family: "logo"
}

.order h3{
	padding-top: 10px;
	font-size: 25px;
}

.prepare .order{
	background-color: #fdf5f9;
}

.ready .order{
	background-color: #63f78d;
}

.readyForm, .deleteForm{
    display: inline-block;
    width: 30%;
    margin-left: 35%;
	margin-bottom: 25px;
	margin-top: 10px;
}

.ready-bn, .delete-bn{
    width: 100%;
	border-radius: 10px;
	
	border:0;
	color: white;
	padding-bottom: 10px;
	padding-top: 10px;
	font-family: "logo";
	font-size: 10px;
}

.ready-bn{
	background-color: #4e5964;
}

.ready .ready-bn{
    display: inline-block;
    width: 30%;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: 35%;
}



.search form {
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin: 0 auto;
  background: #4e5964;
  border-radius:10px;
}
.search input, button {
  border: none;
  outline: none;
  background: transparent;
}
.search input {
  color: white;
  width: 100%;
  height: 42px;
  font-size: 12px;
  padding-left: 15px;
}
.search button {
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.search button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: white;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none; z
  margin: 0;
}

input[type="number"]::-webkit-input-placeholder {color:#fdf5f9;}

@media screen and (max-width: 1024px) {
	.logotip h1{
		font-size: 60px;
	}
}

@media screen and (max-width: 768px) {
	.logotip h1{
		font-size: 55px;
	}

	.ready-bn, .delete-bn{
		font-size: 7px;
	}
}


.status h3{
    color: white;
    padding-top: 10px;
    margin-bottom:10px;
}

.status p{
    color: white;
    margin:0;
}

.status{
    font-family: "logo";
    margin-left:10%;
    height:100px;
    background-color:#4e5964;
    width: 80%;
    border-radius: 10px;
    text-align: center;
}

.status button{
    text-align:center;
    height:40px;
    width:90%;
    font-family: "logo";
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 0;
    position: static;
    cursor: pointer;
}

.status button:before {
  content: none;
}

.orderForm{
    border: 5px solid #fdf5f9;
    vertical-align: top;
    margin-top:40px;
	margin-bottom: 0px;
	display: inline-block;
	width: 19%;
	margin-left: 4%;
	border-radius: 25px;
}


.order-bn{
    border-radius: 25px;
    width:100%;
    text-align:center;
    background-color:#4e5964;
    color:#fdf5f9;
    font-family: "logo";
    font-size: 20px;
}
